[run]
branch = True
source = ni

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    @abc.abstract*
ignore_errors = True
omit =
    ni/test/*